* {
    margin: 0;
    padding: 0;
    font-family: "DancingScript", cursive;
    box-sizing: border-box;
    background-attachment: "white";
}

body {
    background-color: burlywood;
}

#home {
    position: relative;
    height: 100vh;
    background-image: url("./Zdjecia/Druzynka.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.home-shadow {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    z-index: -10;
}

/* section.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
} */

#home .nav-desktop {
    display: none;
}

#home .nav-mobile a {
    display: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

nav .nav-mobile .fa-bars {
    font-size: 30px;
    color: #fff;

}

/* .main p {
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0; 
}

.menu{
    transition: .3s;
}

a.menu:hover {
    font-size: 17px;
    color: rgb(187, 183, 183);
    cursor: pointer;
}

article {
    margin: 30px 0px;
    margin-bottom: 20px;
    padding: 0 5px;
}

article h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 20px 20%;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    }

img.left {
    height: 250px;
    width: 250px;
    padding: 20px;
    /* border-radius: 50% 50%; */


/* article p {
    font-size: 20px;
    padding: 15px 0;
}

@media (max-width: 800px) {
    nav a {
        width: 50%;
        font-size: 20px;
    }
}

iframe {
    margin-top: 30px;
    width: 100%;
}

footer {
    height: 40px;
    text-align: left;
    margin-top: 10px;
}

footer p {
    text-align: center;
} */